#home{
    height: 820px;
}
.heading{
    font-size:1rem;
}
.headings1{
    font-size: 1rem;
    color:white;
}
#pic img{
    width:200px;
    height:300px;
}
#intro h3{
    font-size: 1.5rem;

}
.skill li em{
    font-size: 10px;
}
#About{
    height: 1000px;
}