 *{
     margin:0;
     padding: 0;
     box-sizing: border-box;
     font-family:'Courier New', Courier, monospace;
  
 }

 .navbar{
     display: flex;
     justify-content: center;
     background-color:rgba(90, 88, 88, 0.5);
     top: 0;
     position: sticky;
 }
 .navbar ul{
     display: flex;
     list-style: none;
     margin: 20px 0px;
 }

 .navbar ul li {
     font-family: century;
 }
 
 .navbar ul li a{
     text-decoration:none;
     color: white;
     padding: 8px 25px;
     font-size:me;
     transition: all .5s ease;
     
 }

 .navbar ul li a:hover {
  box-shadow:  0 0 20px rgb(33,135,231);
  border-radius: 30px;
 }

 .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #343634;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
 

 /* HOME */

 #home {
     display: flex;
     flex-direction:column;
     background-color: rgba(0, 0,0,0.5);
     height: 840px;
     justify-content: center;
     align-items: center;
     color: white;
 }
 
 .blink{
    animation: blinker 1s linear infinite;

 }
 @keyframes blinker{
     50%{
         opacity: 0;
     }

 }
 #home::before{
     content: "";
     position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    background-image:url("./photo/Me1.jpg");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: 65%;

    height:  900px;
    width: 100%;
    z-index: -1;
    
      
 }


 .main{
    display: static;
    flex-direction: column;
    /* border: 1px solid blue; */
    align-items: center;
    position: absolute;
    top: 30%;
    left: 100px;
    }

    .headings{
        width: 30%;
        font-family:'Courier New', Courier, monospace;
        font-size: 20px;
        margin: 100px 0px;
        
    }

    #About{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 50px;
        background: #121212;
        color:white;
        height: 840px;
       margin: 0;
       
        
        
    }

    #pic{
        display: flex;
    }
    
    #img_about{
      width: 30%;
      border-radius: 200px;
      height: auto;
      
    }
    #intro{
       
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 20px;
        }
    
      #intro p{
        font-family:'Times New Roman', Times, serif;
        font-size: 20px;
        color: rgb(255, 255, 255);
      }

    #intro h3{
        font-size: 25px;
        margin-bottom: 2px;
        
    }

    #Portfolio{
      background: #121212;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        color:black;
        
        
        
       }
    .headings1{
        width: 100%;
        font-family:'Courier New', Courier, monospace;
        font-size: 20px;
        color:white;
       text-align: center;
       margin-bottom: 10%;
       border-bottom: 1px solid rgb(33,135,231) ;
       box-shadow: 0px 20px 20px -10px #2187e7;
       
        
    }

  

    .btn_portfolio {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: rgb(0, 0, 0);
        cursor: pointer;
        border-radius: 30px;
        color: white;
        
      }
      
      .btn_portfolio:hover {
        cursor: pointer;
        background-color: black;
        color: rgb(33,135,231);
        box-shadow:  0 0 20px rgb(33,135,231);
        font-weight: bold;
        
        
      }
      .btn_portfolio.active{
          background-color: #666;
          color: white;
         
      }
      .row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 20px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color:rgba(90, 88, 88, 0.5);
  padding: 10px;
  color: white;
 
  transition: transform .2s;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
  }
  
  .content:hover{
    transform: scale(1.2);
    cursor: zoom-in;
  }

                 /* services */
  
  #services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color:white;
    background: #121212;
    
  }

  .row2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
  }
  .box{
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid rgb(33,135,231);
    margin: 20px;
    align-items: center;
    text-align: justify;
    border-radius: 15px;
    background: linear-gradient(to top,rgb(33,135,231) 50%, rgb(0, 0, 0) 50%);
    background-size: 100% 200%;
    transition: all .8s;

  }

  .box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow:  0 0 20px rgb(33,135,231);
  }

  .box img{
    width: 80px;
    height: 80px;
  }
  .box p{
    text-align: center;
  }

  #contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color:#121212 ;
    color: white;
    padding: 20px;
  }
  .form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
  }

  .input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border:none;
    outline: none;
    border-radius: 30px;
  }
  #msg{
    width: 20%;
    padding:10px;
    margin: 15px;
    border:none;
    outline: none;
    border-radius: 30px;
  }

  #send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border:none;
    outline: none;
    border-radius: 30px;
    background:rgb(0, 0, 0) ;
    color: rgb(33,135,231);
  }
  #send:hover{
    cursor: pointer;
    box-shadow:  0 0 20px rgb(33,135,231);
  }
#CV{
  
  color: white;
  background-color: #9c561d;
  text-decoration:dashed;
  font-weight:bold;
  font-family:sans-serif;
  
  
}